@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav{
    @apply p-3 text-[#32323f] flex content-center hover:text-black pl-7
  }
  .nav-inactive{
    @apply bg-white hover:bg-slate-100
  }
  .nav-active{
    @apply bg-[#f3f4f6]
  }
  .table-style {
    @apply w-full bg-gray-100 
  }
  .table-style thead{
    @apply bg-gray-400
  } 
  .table-style th, td {
    @apply border p-2 text-sm  border-gray-300
  }

  .booking{
    @apply rounded-md my-2 text-sm w-full 
  }
  .card{
    @apply flex-none flex w-[200px] lg:w-[24%] items-center mx-2 lg:mx-0 gap-3 h-auto  shadow-md shadow-gray-500/50 bg-white px-5 py-2 text-[#32323f] rounded-lg
  }
  .card:hover{
  @apply cursor-pointer transition ease-in-out bg-indigo-50 scale-105
  } 
  label {
    @apply text-sm
  }
  .btn-aksi{
    @apply px-2 p-[2px] block w-7 align-middle text-center rounded-sm
  }
    /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #32323f; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}